<% var a = post.author; %>
<h3 class="thtrm-section-headline thtrm-section-headline--with-margin">Author</h3>
<div class="thtrm-article-author">
    <span class="thtrm-article-author-avatar"><img src="<%- author(a, 'gravatar') %>" alt="Picture of <%- author(a, 'name') %>"></span>
    <div class="thtrm-article-author-matter">
        <h4 class="thtrm-article-author-name"><%- author(a, 'name') %></h4>
        <p class="thtrm-article-author-text"><%- author(a, 'bio') %></p>
        <p>
            <a class="thtrm-article-author-cta thtrm-article-author-cta-twitter" href="<%- author(a, 'twitter') %>" title="<%- author(a, 'name') %> on Twitter">Twitter</a>
            <a class="thtrm-article-author-cta" href="<%- author(a, 'github') %>" title="<%- author(a, 'name') %> on GitHub">GitHub</a>
        </p>
    </div>
</div>