<%- partial('_partial/index/search') %>
<%- partial('_partial/index/latest') %>
<div class="thtrm-constraint">
    <%- partial('_partial/index/newsletter-subscriber') %>
    <%- partial('_partial/index/more-articles') %>
    <%- partial('_partial/index/rss-subscriber') %>
    <%- partial('_partial/index/angular-class-promo') %>
    <%- partial('_partial/index/category-angular') %>
    <%- partial('_partial/index/category-git') %>
    <%- partial('_partial/index/category-angular-v13') %>
    <%- partial('_partial/index/5thingsangular') %>
    <%- partial('_partial/index/authors') %>
</div>