<%- partial('post/banner') %>
<div class="thtrm-constraint thtrm-constraint--slim">
    <div class="thtrm-article">
        <%- partial('post/private-training-ad') %>
        <!-- TODO angular2 message -->
        <div class="thtrm-toc is-sticky" markdown="1">
            <h3 id="table-of-contents" class="no-toc">TABLE OF CONTENTS</h3>
            <%- toc(post.content, {class:'markdown-toc', list_number:false}) %>
        </div>
        <%- post.content %>
        <!-- TODO demos -->
    </div>
    <%- partial('index/newsletter-subscriber') %>
    <div class="thtrm-social-links">
        <%- partial('post/sharing-button-facebook') %>
        <%- partial('post/sharing-button-twitter') %>
        <%- partial('post/sharing-button-google') %>
    </div>
    <!-- TODO author -->    
</div>
<div class="thtrm-constraint">
    <!-- TODO related posts -->
</div>