<h2 class="thtrm-section-headline thtrm-section-headline--with-margin">More Articles</h2>
<% if(site.posts.length) { %>
    <div class="thtrm-table-layout">
        <div class="thtrm-table-layout-row thtrm-table-layout-row--with-two-columns thtrm-table-layout-row--with-two-columns--with-padding">
            <% site.posts.sort('date', -1).limit(7).each(function(post, i){ %>
                <% if(i===3) { %>
                    <div class="thtrm-table-layout-cell">
                        <a class="thtrm-article-card" href="<%= url_for(post.path) %>" title="<%= post.title %>">
                            <div class="thtrm-article-card-image" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,#29383E 100%),url(<%= post.imageUrl %>);"></div>
                            <div class="thtrm-article-card-content">
                                <span class="thtrm-article-card-date"><i class="material-icons">schedule</i> <%= date(post.date, config.date_format) %></span>
                                <span class="thtrm-article-card-author">
                                    <i class="material-icons">create</i>
                                    <%= post.author %>
                                </span>
                                <h2><%= post.title %></h2>
                                <p><%= post.summary %></p>
                            </div>
                        </a>
                    </div>
                    <div class="thtrm-table-layout-cell">
                        <ul class="thtrm-article-card-list">       
                <% } else if(i > 3) { %>
                     <li>
                        <a class="thtrm-article-card" href="<%= url_for(post.path) %>" title="<%= post.title %>">
                            <div class="thtrm-article-card-content">
                                <span><i class="material-icons">schedule</i> <%= date(post.date, config.date_format) %></span>
                                <span>
                                    <i class="material-icons">create</i>
                                    <%= post.author %>
                                </span>
                                <h3><%= post.title %></h3>
                                <p><%= post.summary %></p>
                            </div>
                        </a>
                    </li>
                <% } %>
            <% }) %>
                </ul>
                <div class="thtrm-cta-bar">
                    <a href="/all/" title="All articles" class="thtrm-cta thtrm-cta--small">All articles</a>
                </div>
            </div> 
        </div>   
    </div>
<% } %>